{% load wahlrechner_version %}
{% load wahlrechner_name %}


{% load static %}

{# Bilder #}
<div class="w-full p-3 border-gray-400">
    <div class="flex w-full max-w-2xl gap-2 mx-auto justify-center items-center flex-wrap">

        <div>
            <a href="https://dresdenzero.de/">
                <img src="{% static 'Zero_klein.png' %}" alt="Picture 1" class="w-16 h-16 object-cover">
            </a>
        </div>

        <div>
            <a href="https://zukunftsgestalten.org/start">
                <img src="{% static 'Zukunft_Gestalten.png' %}" alt="Picture 2" class="w-16 h-16 object-cover">
            </a>
        </div>

        <div>
            <a href="https://la-dresden.de/">
                <img src="{% static 'lokal_dresden.png' %}" alt="Picture 3" class="w-16 h-16 object-cover">
            </a>
        </div>

        <div>
            <a href="https://sandstorm.de/">
                <img src="{% static 'sandstorm.svg' %}" alt="Picture 4" class="w-16 h-16 object-cover">
            </a>
        </div>

        <div>
            <a href="https://vorort.bund.net/dresden/?gad_source=1&gclid=Cj0KCQjw6auyBhDzARIsALIo6v9daXev6zEK70FEcHHElxU1X09S-SiiCTZq2ZulM3JvtbQDV4t9p2waAlyCEALw_wcB">
                <img src="{% static 'bund_klein.png' %}" alt="Picture 5" class="w-16 h-16 object-cover">
            </a>
        </div>
        
    </div>
</div>



{# Impressum / Datenschutz / GitHub #}
<div class="w-full p-3 bg-gray-900">

    <div class="grid w-full max-w-2xl grid-cols-1 py-1 mx-auto sm:grid-cols-2 justify-items-stretch">

        <div class="mb-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="https://wahlkompass-dresden.de/impressum">Impressum</a></div>

        <div class="my-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="https://wahlkompass-dresden.de/datenschutz">Datenschutzerklärung</a></div>

    </div>

</div>

{# Lizenzinformationen #}
<div class="w-full p-3 text-center bg-gray-800">

    <div class="text-xs text-gray-400">
        {% wahlrechner_name %} basiert auf
        <a class="font-bold transition hover:text-gray-200"
           href="https://github.com/wahlrechner/wahlrechner">Wahlrechner {% wahlrechner_version %}</a>
    </div>

    <div class="mt-3 text-xs text-gray-400">
        Wahlrechner ist eine offene Wahlempfehlungshilfe
    </div>

    <div class="text-xs text-gray-400">
        und ist frei verfügbar unter der Lizenz
        <a class="font-bold transition hover:text-gray-200"
           href="https://github.com/wahlrechner/wahlrechner/blob/main/LICENSE">GPL-3.0</a>
        &copy; {% now 'Y' %} Linus Köster
    </div>

</div>
