{% load wahlrechner_name %}

<h1>Willkommen beim {% wahlrechner_name %}</h1>

<p>
    Alle 15 Parteien/Wählervereinigungen, die zur Kommunalwahl in Dresden antreten, haben die Thesen vom Wahlkompass beantwortet.<br/>
    Die Thesen orientieren sich an den 17 Zielen für nachhaltige Entwicklung der Vereinten Nationen. Für jedes Ziel gibt es eine Aussage. Jetzt bist du gefragt: Vergleiche deine Vorstellung für die Entwicklung der Stadt mit den Antworten der Parteien.<br/>
    <br/>
    Wichtig! Der Wahlkompass ist keine Wahlempfehlung, sondern stellt lediglich ein Informationsangebot zu den Wahlen und über die Standpunkte der Wählervereinigungen bereit. Lies bitte unbedingt die Begründungen der Wählervereinigungen nach der Auswertung, um ein besseres Bild zu bekommen.<br/>
    <br/>
    Wenn du an weiteren Informationen interessiert bist, schaue gern in das <a class="underline" href="https://www.youtube.com/live/258IYDPsc74?si=yzWxjX3A_UaxQpSH&t=118">Video zum Kommunalwahl-Forum</a> rein.
</p>

<div class="infobox">
    Der {% wahlrechner_name %} sammelt keinerlei personenbezogene Daten und verwendet keine Cookies. Deine Antworten bleiben völlig anonym und werden nicht gespeichert.
</div>
